{% block content %}
	{% for n in reviews %}	    
		<article class="media content-section">
			<img  class = "rounded-circle account -img" src = "{{ n.author.profile.image.url }}">	
		  	<div class="media-body">
		    	<div class="article-metadata">
		      		User: <a class="mr-2" href="#">{{ n.target }}</a>		
		    	</div>
		    <small class="text-muted">{{ n.date_posted|date:"F, d Y" }}</small>
		    <h2><a class="article-title" href="{% url 'review-detail' n.id %}">{{ n.title }}</a></h2>
		    <em class = "text-muted">{{ n.ratings }}/5</em>
		    <p class="article-content">{{ n.content }}</p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}