<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eByMazon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gui.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <ul id="nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'catalog' %}">Catalog</a></li>
            {% if user.profile.is_su %}
                <ul>
                    <li><a href="{% url 'catalogreview' %}">Review Item Suggestions</a></li>
                    <li><a href="{% url 'catalogblacklist' %}">Blacklist</a></li>
                </ul>
            {% endif %}
        {% if not user.is_authenticated %}
            <li><a href="{% url 'apply' %}">Apply</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li><a href="">Dashboard</a></li>
            <li><a href="{% url 'editprofile' %}">Edit Profile</a></li>
            <li><a href="{% url 'itemapply' %}">Submit Item</a></li>
            <li><a href="{% url 'itemmanager' %}">Manage Items</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% endif %}
        {% if user.profile.is_su %}
            <li><a href="{% url 'uapps' %}">User Applications</a></li>
        {% endif %}
        <input type="text" placeholder="Search...">
    </ul>

     {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>
