{% extends 'gui.html' %}

{% block content %}
<h1>Review User Applications</h1>
{% if apps.all %}
    {% for app in apps %}
        <table>
            <tr>
                <td>Username:</td>
                <td>{{ app.username }}</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{ app.name }}</td>
            </tr>
            <tr>
                <td>Credit Card Number:</td>
                <td>{{ app.credit_card_num }}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{ app.address }}</td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>{{ app.phone_num }}</td>
            </tr>
            <tr>
                <td><a href="{% url 'approveUser' %}?Username={{ app.username }}"><button>Approve</button></a></td>
                <td><a href="{% url 'denyUser' %}?Username={{ app.username }}"><button>Deny</button></a></td>
            </tr>
        </table>
        <br />
    {% endfor %}
{% else %}
    <h2>No new applicants.</h2>
{% endif %}
{% endblock %}