{% extends 'gui.html' %}

{% block content %}
{% if user.is_authenticated %}
	<div class = "content-section">
		<div class = "media">
			<div class = "media-body">
				 <h1 class = "account-heading">Username: {{ user.username }}</h1>
			</div>
		</div>

		<form method = "POST" >
			{% csrf_token %}
			<fieldset class ="form-group">
				<legend class ="border-bottom mb-4">Profile Info</legend>
       			 <table>{{ u_form.as_table }}</table>
			</fieldset>
			<div class= "form-group">
				<button class = "btn btn-outline-info" type ="submit">
					Update
				</button>
			</div>
		</form>
	</div>
{% else %}
    <h2>This application does not exist</h2>
{% endif %}
{% endblock %}