{% extends 'gui.html' %}

{% block content %}
<h1>Review Item Applications</h1>
{% if apps.all %}
    {% for app in apps %}
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td colspan="2">
                        <img src="{{ app.picture }}" style="width: 25%;" />
                    </td>
                </tr>
                <tr>
                    <td>Product Name:</td>
                    <td>{{ app.title }}</td>
                </tr>
                <tr>
                    <td>Seller:</td>
                    <td>{{ app.seller }}</td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="confirmation" value="Approve">
                    </td>
                    <td>
                        <input type="submit" name="confirmation" value="Deny">
                    </td>
                </tr>
            </table>
            <input type="hidden" name="item_name" value="{{ app.title }}">
        </form>
        <br />
    {% endfor %}
{% else %}
    <h2>No new applications.</h2>
{% endif %}
{% endblock %}