{% extends 'gui.html' %}

{% block content %}

<h1>Catalog</h1>
    <h1>Shopping</h1>
    {% if fixedPriceItems.all %}
        {% for fixedPriceItem in fixedPriceItems %}
            <a href="{% url 'fixeditempage' %}?Title={{ fixedPriceItem.item.title }}" class="catalogitem">
                <table>
                    <tr>
                        <td colspan="2">
                            <img src="{{ fixedPriceItem.item.picture }}" class="itemicons" />
                        </td>
                    </tr>
                    <tr>
                        <td>Product Name:</td>
                        <td>{{ fixedPriceItem.item.title }}</td>
                    </tr>
                    <tr>
                        <td>Sold by:</td>
                        <td>{{ fixedPriceItem.item.owner }}</td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td>${{ fixedPriceItem.price }}</td>
                    </tr>
                </table>
            </a>
        {% endfor %}
    {% else %}
        <h2>No items on sale for fixed price.</h2>
    {% endif %}


    <h1>Auction</h1>
    {% if bidPriceItems.all %}
        {% for bidPriceItem in bidPriceItems %}
            <table>
                <tr>
                    <td colspan="2">
                        <img src="{{ bidPriceItem.item.picture }}" class="itemicons" />
                    </td>
                </tr>
                <tr>
                    <td>Product Name:</td>
                    <td>{{ bidPriceItem.item.title }}</td>
                </tr>
                <tr>
                    <td>Sold by:</td>
                    <td>{{ bidPriceItem.item.owner }}</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>${{ bidPriceItem.startPrice }}</td>
                </tr>
                <tr>

                </tr>
            </table>
        {% endfor %}
    {% else %}
        <h2>No items on sale for bidding.</h2>
    {% endif %}

{% endblock %}