{% extends 'gui.html' %}

{% block content %}
<h1>Blacklisted Items</h1>
{% if items.all %}
    {% for item in items %}
            <table>
                <tr>
                    <td colspan="2">
                        <img src="{{ item.picture }}" style="width: 25%;" />
                    </td>
                </tr>
                <tr>
                    <td>Product Name:</td>
                    <td>{{ item.title }}</td>
                </tr>
                <tr>
                    <td>Suggested By:</td>
                    <td>{{ item.seller }}</td>
                </tr>
            </table>
            <input type="hidden" name="item_name" value="{{ item.title }}">
        </form>
        <br />
    {% endfor %}
{% else %}
    <h2>No new suggestions.</h2>
{% endif %}
{% endblock %}