{% extends 'gui.html' %}

{% block content %}
<h1>Blacklisted Items</h1>
{% if blacklist.all %}
    {% for item in blacklist %}
            <table>
                <tr>
                    <td>Product Name:</td>
                    <td>{{ item.title }}</td>
                </tr>
                <tr>
                    <td>Suggested By:</td>
                    <td>{{ item.seller }}</td>
                </tr>
            </table>
            <input type="hidden" name="item_name" value="{{ item.title }}">
        </form>
        <br />
    {% endfor %}
{% else %}
    <h2>No blacklisted items.</h2>
{% endif %}
{% endblock %}