{% extends 'gui.html' %}

{% block content %}

<h1>Catalog</h1>
    <h1>Shopping</h1>
    {% if fixedPriceItems.all %}
        {% for fixedPriceItem in fixedPriceItems %}
            <table>
                <tr>
                    <td colspan="2">
                        <img src="{{ fixedPriceItem.item.picture }}" style="width: 25%;" />
                    </td>
                </tr>
                <tr>
                    <td>Product Name:</td>
                    <td>{{ fixedPriceItem.item.title }}</td>
                </tr>
                <tr>
                    <td>Sold by:</td>
                    <td>{{ fixedPriceItem.item.owner }}</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>{{ fixedPriceItem.price }}</td>
                </tr>
                <tr>
                    <td>Keywords:</td>
                    <td>{{ fixedPriceItem.item.key_words }}</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{ fixedPriceItem.item.description }}</td>
                </tr>
                <tr>

                </tr>
            </table>
        {% endfor %}
    {% else %}
        <h2>No items on sale for fixed price.</h2>
    {% endif %}


    <h1>Auction</h1>
    {% if bidPriceItems.all %}
        {% for bidPriceItem in bidPriceItems %}
            <table>
                <tr>
                    <td colspan="2">
                        <img src="{{ bidPriceItem.item.picture }}" style="width: 25%;" />
                    </td>
                </tr>
                <tr>
                    <td>Product Name:</td>
                    <td>{{ bidPriceItem.item.title }}</td>
                </tr>
                <tr>
                    <td>Sold by:</td>
                    <td>{{ bidPriceItem.item.owner }}</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>{{ bidPriceItem.price }}</td>
                </tr>
                <tr>
                    <td>Keywords:</td>
                    <td>{{ bidPriceItem.item.key_words }}</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{ bidPriceItem.item.description }}</td>
                </tr>
                <tr>

                </tr>
            </table>
        {% endfor %}
    {% else %}
        <h2>No items on sale for bidding.</h2>
    {% endif %}

{% endblock %}