{% extends 'gui.html' %}

{% block content %}
    {% if bidPriceItem %}
    <h1>Place Bid </h1>
    <form method="POST">
        {% csrf_token %}
        <h2>Product Name: {{ bidPriceItem.item.title }}</h2>
        <h3>Current Highest Bid: ${{ highest }}</h3>
        <table>
            {{ form.as_table }}
            <td><input type="submit" name="Bid" value="Check Tax"></td>
        </table>
        <table>
            <tr>
                <td colspan="2">
                    <img src="{{ bidPriceItem.item.picture }}" class="itemicons" />
                </td>
            </tr>
            <tr>
                <td>Sold by:</td>
                <td>{{ bidPriceItem.item.owner }}</td>
            </tr>
            <tr>
                <td>Start Price:</td>
                <td>${{ bidPriceItem.startPrice }}</td>
            </tr>
            <tr>
                <td>Current Price:</td>
                <td>${{ highest }}</td>
            </tr>
            <tr>
                <td>Keywords:</td>
                <td>{{ bidPriceItem.item.key_words }}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{ bidPriceItem.item.description }}</td>
            </tr>
        </table>

        <h1>Confirm Shipping Details</h1>
        <table>
             <tr>
                <td>Name:</td>
                <td>{{ user.profile.name }}</td>
            </tr>
            <tr>
                <td>Shipping address:</td>
                <td>{{ user.profile.address }}, {{ user.profile.state }}</td>
            </tr>
            <tr>
                <td>Phone number:</td>
                <td>{{ user.profile.phone_num }}</td>
            </tr>
        </table>

         <h1>Confirm Payment Details</h1>
        <table>
             <tr>
                <td>Credit Card number:</td>
                <td>{{ censoredCardNum }}</td>
            </tr>
        </table>

        <input type="submit" name="Bid" value="Place Bid">
        <input type="submit" name="Bid" value="Cancel Bid">
    </form>
    {% else %}
        <h2>This item does not exist</h2>
    {% endif %}
{% endblock %}